---
banner: "![[Security shield background.jpg]]"
banner_lock: True
created: 2022-07-27  14:43:54
modification date: 2022-07-27  14:43:48

Class: C836 - Fundamentals of security
Source: Foundations of Information Security A Straightforward Introduction
tags: C836/unit_2-2-1
cards-deck: C836 - Fundamentals of security
Anki: None

---

# Verification
- just asking for a piece of identifying information from an authoritative source
- The more [[Factors]] in use, the closer to [[Authentication]] you get.
- A much weaker way of testing someone's identity, compared to [[Authentication#Authentication|authentication]].
- Better than [[Identification]].